# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env files
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log
